page-community {
#signupBtn, #loginBtn{width: 100% !important;max-width: 100% !important;}
.brand{font-size: 5em;color: #2ECC71;font-family: 'Leckerli One', cursive;}
#loginFacebook{width: 100% !important;max-width: 100% !important;background-color: #3B5998;color: white;}
.or {width:100%; text-align:center; border-bottom: 1px solid #000; line-height:0.1em; margin:10px 0 20px; } 
.or span { background:#fff; padding:0 10px; }
.orContent{margin-top: 40px;}
}
